/* Fuente Personalizada */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

/* Variables de Colores */
:root {
    --orange-etb: #F36F31;
    --bgray-etb: #AAB8D0;
    --gray-etb: #f4f6f9;
    --withe-etb: #fff;
    --bblue-etb: #214780;
    --pblue-etb: #54698d;
    --black-etb: #000;
    --b2gray-etb: #969492;
}

/* Generalidades del Cuerpo */
* {
    box-sizing: border-box;
}

body {
    background-color: #AAB8D0;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.general-container {
    border-radius: 85px;
    background-color: #fff;
    align-items: center;
    margin: 20px auto;
    max-width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.log img {
    width: 100%;
    max-width: 380px;
    height: auto;
    border-radius: 85px 0 0 0;
    position: relative;
    bottom: 0;
}

.side-bar {
    position: relative;
    margin: 20px auto;
    z-index: 1;
    text-align: center;
}

.side-bar img {
    width: 42px;
    height: 42px;
    margin-top: 25px;
}

.side-bar label {
    color: var(--bgray-etb);
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 10px 0;
}

.side-bar p {
    color: var(--bgray-etb);
    font-size: 14px;
    margin: 10px 0;
}

.side-bar-bottom {
    background-color: var(--bblue-etb);
    color: var(--withe-etb);
    border-radius: 0 0 0 85px;
    height: 70px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.accu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accu p {
    margin-left: 10px;
}

.side-bar-bottom img {
    width: 42px;
    height: 42px;
}

.callt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 60px;
    height: 60px;
}

#ca {
    position: relative;
    top: 10px;
}