/* Fuente Personalizada */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

/* Variables de Colores */
:root{
    --orange-etb: #F36F31;
    --bgray-etb: #AAB8D0;
    --gray-etb: #f4f6f9;
    --withe-etb: #fff;
    --bblue-etb: #214780;
    --pblue-etb: #54698d;
    --black-etb: #000;
    --b2gray-etb: #969492;
}
/* Generalidades del Cuerpo */

* {
    box-sizing: border-box;
}
body{
    background-color: #AAB8D0;
    font-family: 'Poppins';
}
.general-container{
    border-radius: 85px;
    background-color: #fff;
    align-items: center;
    margin: 90px 0 0 155px;
    width: 1600px;
    height: 772px;
    display: flex;
}
.log img{
    width: 380px;
    height: 220px;
    border-radius: 85px 0 0 0;
    position: relative;
    bottom: 273px;
}
.side-bar{
    position: absolute;
    margin-left: 65px;
    z-index: 1;
}
.side-bar img{
    width: 42px;
    height: 42px;
    margin-top: 25px;
}
.side-bar label{
    color: var(--bgray-etb);
    margin-left: 20px;
    position: relative;
    bottom: 14px;
    font-size: 18px;
    cursor: pointer;
}
.sid-t{
    margin-top: 150px;
    cursor: pointer;
    z-index: 1;
}
.sid-t2{
    cursor: pointer; 
    z-index: 1;   
}
.side-bar p{
    text-align: center;
    color: var(--bgray-etb);
    position: relative;
    right: 35px;
    top: 30px;
    font-size: 14px;
}
.side-bar-bottom{
    background-color: var(--bblue-etb);
    color: var(--withe-etb);
    position: absolute;
    margin-top: 701px;
    border-radius: 0 0 0 85px;
    height: 70px;
    width: 20.1%;
}
.accu{
    display: flex;
    margin-top: 13px;
}
.accu p{
    margin-left: 18px;
    position: relative;
    bottom: 19px;
}
.side-bar-bottom img{
    width: 42px;
    height: 42px;
    margin-left: 70px;
}
.callt{
    display: flex;
    margin-left: 120px;
    position: relative;
    top: 350px;
}
.callt{
    width: 60px;
    height: 60px;
}
#ca{
    position: relative;
    top: 10px;
}