@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

/* Configuraciones CSS Generales del Formulario */
:root{
  --color-bc: #020F86;
  --color-bc2: #4b518b;
  --orange-etb: #F36F31;
  --blue-os-etb: #008AA6;
  --gray-etb: #707070;
  --withe-etb: #fff;
  --bc-etb: #000;
  --yellow-bc: #FFCC68;
  --green-bc: #00AA80;
  --red-bc: #960000;
  --cof-bc: #d37f00;
}
body{
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container-general{
    /* border: solid 2px red; */
    position: relative;
    bottom: 1021px;
    left: 522px;
    width: 1398px;
    max-width: 1398px;
    height: 886px;
    max-height: 889px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* Configuraciones CSS Generales del Formulario */


/* Busquedda Rapida */
/* Configuraciones CSS del DIV General del Formulario */
form{
    display: flex;
    padding: 25px 0 0 25px;
}
#form_no{
    display: block;
    padding: 0;
}
.sea{
    margin-left: 50px;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--orange-etb);
    padding-right: 20px;
}
.ini-b{
    position: relative;
    right: 440px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.btn-prima{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--orange-etb);
    border: none;
    border-radius: 15px;
    width: 140px;
    height: 50px;
    color: var(--withe-etb);
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 530px;
}
.btn-second{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--blue-os-etb);
    border: none;
    border-radius: 15px;
    width: 140px;
    height: 50px;
    color: var(--withe-etb);
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    left: 457px;
    bottom: 130px;
}
.btn-second:hover{
    background-color: var(--color-bc);
}
.btn-prima:hover{
  background-color: var(--color-bc);
}
.btn-three{
    width: 49px;
    height: 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--yellow-bc);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    bottom: 20px;
}
.btn-three img{
    width: 32px;
    height: 32px;
    padding-top: 2px;
}
.btn-four{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--red-bc);
    border: none;
    border-radius: 15px;
    width: 162px;
    height: 70px;
    color: var(--withe-etb);
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 20px;
}
.btn-five{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--green-bc);
    border: none;
    border-radius: 15px;
    width: 162px;
    height: 70px;
    color: var(--withe-etb);
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.btn-five2{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: var(--yellow-bc);
  border: none;
  border-radius: 15px;
  width: 500px;
  height: 50px;
  color: var(--withe-etb);
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 200px;
}
.btn-five2:hover{
  background-color: var(--color-bc);
}
.btn-six{
  bottom: 42px;
  left: 305px;
  width: 49px;
  height: 40px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  background-color: var(--cof-bc);
  border: none;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}
#cod2{
    top: 400px;
    left: 253px;
}
#cod3{
  top: 210px;
}
.btn-six img{
  width: 42px;
  height: 42px;
  position: relative;
  right: 2px;
  bottom: 1px;
}
input{
    width: 300px;
    height: 50px;
    border: solid 2px var(--color-bc);
    border-radius: 25px;
    font-weight: 300;
}
select{
  width: 300px;
  height: 50px;
  border: solid 2px var(--color-bc);
  border-radius: 25px;
  font-weight: 300;
}
textarea{
  width: 300px;
  height: 300px;
  border: solid 2px var(--color-bc);
  border-radius: 15px;
  font-weight: 300;
}
.dat{
    text-align: center;
}
.ini-b3{
    position: relative;
    right: 1148px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    top: 280px;
}
.ini-b3 .btn-three{
    position: relative;
    left: 175px;
    bottom: 80px;
}
.label1{
  margin-left: 40px;
  margin-bottom: 80px;
}
.label1-3{
    display: flex;
    padding: 45px 0 0 25px;
}
#modal-vista .modal-title{
    font-size: 25px;
    color: var(--color-bc);
    font-weight: bold;
}
#modal-vista-agen .modal-title{
  font-size: 25px;
  color: var(--color-bc);
  font-weight: bold;
}
#modal-agen .modal-title{
  font-size: 25px;
  color: var(--color-bc);
  font-weight: bold;
}
.con-table{
    width: 100%;
    overflow-x: auto;
    /* display: none; */
    max-width: 100%;
    min-height: 100px;
  }
  .con-table .table-general{
    min-width: 900px;
    width: 100%;
  }
  .table-general tr th{
    background: var(--color-bc);
    color: var(--withe-etb);
    height: 50px;
    text-align: center;
    border: 2px solid var(--gray-etb);
  }

  .table-general tbody tr td{
    min-height: 50px;
    border: 2px solid var(--gray-etb);
    padding-left: 20px;
  }

  .con-table2{
    width: 100%;
    overflow-x: auto;
    /* display: none; */
    max-width: 100%;
    min-height: 100px;
  }
  .con-table2 .table-genera{
    min-width: 900px;
    width: 100%;
  }
  .table-general tbody tr td{
    min-height: 50px;
    border: 2px solid var(--yellow-bc);
    padding-left: 20px;
  }
.icons2{
    width: 70px;
    height: 70px;
    position: relative;
    left: 12px;
    cursor: pointer;
}
.codigos {
  display: none;
  position: absolute;
  top: 7%;
  right: 45.1%;
  background-color: var(--color-bc);
  border: 2px solid var(--orange-etb);
  border-radius: 15px;
  padding: 5px 0;
  z-index: 1;
}
.codigos ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--withe-etb);
  font-size: 12px;
}
.codigos ul li {
  padding: 5px 10px;
  cursor: pointer;
}
.codigos ul li:hover {
  background-color: var(--red-bc);
}
.codigos2 {
  display: none;
  position: absolute;
  bottom: 22%;
  left: 32.2%;
  background-color: var(--color-bc);
  border: 2px solid var(--orange-etb);
  border-radius: 15px;
  padding: 5px 0;
  z-index: 1;
}
.codigos2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--withe-etb);
  font-size: 12px;
}
.codigos2 ul li {
  padding: 5px 10px;
  cursor: pointer;
}
.codigos2 ul li:hover {
  background-color: var(--red-bc);
}
.codigos3 {
  display: none;
  position: absolute;
  bottom: 22%;
  left: 34%;
  background-color: var(--color-bc);
  border: 2px solid var(--orange-etb);
  border-radius: 15px;
  padding: 5px 0;
  z-index: 1;
}
.codigos3 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--withe-etb);
  font-size: 12px;
}
.codigos3 ul li {
  padding: 5px 10px;
  cursor: pointer;
}
.codigos3 ul li:hover {
  background-color: var(--red-bc);
}
/* Configuraciones CSS del DIV General del Formulario */
/* Busquedda Rapida */


/* Configuraciones CSS del DIV General del Formulario */
/* Añadir Nuevo Rapida */
.connew{
    border: none;
    border-radius: 15px;
    margin: 65px 0 0 60px;
    width: 1260px;
    height: 700px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.connew-2{
    border: none;
    border-radius: 15px;
    margin: 65px 0 0 60px;
    width: 1260px;
    height: 700px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Evita que los elementos desborden el contenedor */
}
.label1-2{
    display: flex;
    padding: 45px 0 0 25px;
}
.dat2{
    width: 212px;  
    text-align: center;
}
.dat3{
  width: 212px;  
  text-align: center;
  position: relative;
  left: 250px;
}
.item-1 input{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
    gap: 20px; /* espacio entre las celdas */
    margin: 0 0 0 90px;
    position: relative;
    right: 10px; 
    font-size: 16px; 
}
.item-1 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 50px;
  font-size: 16px; 
}
.item-2 input{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
    gap: 20px; /* espacio entre las celdas */
    margin: 0 0 0 90px;
    position: relative;
    right: 10px;  
    font-size: 16px;
}
.item-2 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 130px;
  font-size: 16px; 
}
.item-3 input{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
    gap: 20px; /* espacio entre las celdas */
    margin: 0 0 0 90px;
    position: relative;
    right: 10px;  
    font-size: 16px;
}
.item-3 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 190px;
  font-size: 16px; 
}
.item-4 input{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
    gap: 20px; /* espacio entre las celdas */
    margin: 0 0 0 90px;
    position: relative;
    right: 1240px;  
    top: 250px;
    font-size: 16px;
}
.item-4 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 250px;
  font-size: 16px; 
}
.item-5 input{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
    gap: 20px; /* espacio entre las celdas */
    margin: 0 0 0 90px;
    position: relative;
    right: 1240px;  
    top: 250px;
    font-size: 16px;
}
.item-5 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 1690px;
  top: 180px; 
  font-size: 16px; 
}
.item-6 input{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
    gap: 20px; /* espacio entre las celdas */
    margin: 0 0 0 90px;
    position: relative;
    right: 1240px;  
    top: 250px;
    font-size: 16px;
}
.item-6 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 1770px;
  top: 180px; 
  font-size: 16px; 
}
.item-7 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 1240px;  
  top: 250px;
  font-size: 16px;
}
.item-7 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 600px;
  bottom: 10px; 
  font-size: 16px; 
}
.item-8 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 1240px;  
  top: 250px;
  font-size: 16px;
}
.item-8 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 660px;
  bottom: 10px; 
  font-size: 16px; 
}
.item-9 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 1240px;  
  top: 250px;
  font-size: 16px;
}
.item-9 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 2100px;
  top: 180px; 
  font-size: 16px; 
}
.item-9 textarea{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 2100px;
  top: 180px; 
  font-size: 16px;
  width: 710px;
  text-align: justify;
  margin-bottom: 950px;
}
.item-92 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 0 0 90px;
  position: relative;
  right: 2095px;
  top: 150px;
  font-size: 16px;
  width: 310px;
}
.item-10 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 1240px;  
  top: 250px;
  font-size: 16px;
}
.item-10 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 2180px;
  top: 180px; 
  font-size: 16px; 
}
.item-11 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 1240px;  
  top: 250px;
  font-size: 16px;
}
.item-11 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 2240px;
  top: 180px; 
  font-size: 16px; 
}
.item-12 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 1240px;  
  top: 250px;
  font-size: 16px;
}
.item-12 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 2300px;
  top: 180px; 
  font-size: 16px; 
}
.item-13 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 1240px;  
  top: 250px;
  font-size: 16px;
}
.item-13 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 3740px;
  top: 360px;
  font-size: 16px; 
}
.item-14 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 1240px;  
  top: 250px;
  font-size: 16px;
}
.item-14 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 3820px;
  top: 360px;
  font-size: 16px; 
}
.item-15 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 1240px;  
  top: 250px;
  font-size: 16px;
}
.item-15 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 3880px;
  top: 360px;
  font-size: 16px; 
}
.item-16 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 1240px;  
  top: 250px;
  font-size: 16px;
}
.item-16 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 3940px;
  top: 360px;
  font-size: 16px; 
}
.item-17 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 4180px;
  top: 520px;
  font-size: 16px;
}
.item-18 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 5460px;
  top: 520px;
  font-size: 16px;
}
.item-19 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 5520px;
  top: 520px;
  font-size: 16px;
}
.item-20 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 5580px;
  top: 520px;
  font-size: 16px;
}
.item-21 select{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 7020px;  
  top: 700px;
  font-size: 16px;
}
.item-22 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 7100px;
  top: 700px;
  font-size: 16px;
  width: 310px;
}
.item-23 input{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 7100px;
  top: 700px;
  font-size: 16px;
  width: 310px;
}
.item-24 textarea{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
  gap: 20px; /* espacio entre las celdas */
  margin: 0 0 0 90px;
  position: relative;
  right: 8240px; 
  top: 890px;
  font-size: 16px;
  width: 710px;
  text-align: justify;
  margin-bottom: 950px;
}
.item-25 input {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 0 0 90px;
  position: relative;
  right: 8800px;
  top: 1000px;
  font-size: 16px;
  width: 310px;
}
.label1-2 .lp1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
    gap: 20px; /* espacio entre las celdas */
    margin: 0 0 0 90px;
    position: relative;
    top: 125px;
}
.label1-2 .lp2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* ajusta automáticamente el número de columnas según el ancho del contenedor */
    gap: 20px; /* espacio entre las celdas */
    margin: 0 0 0 90px;
    position: relative; 
    top: 370px;
}
.label1-2 .lp3{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 0 0 90px;
  position: relative;
  top: 370px;
}
.ini-b2{
    position: relative;
    right: 1938px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    top: 480px;
}
.ini-b2 .btn-three{
    position: relative;
    left: 175px;
    bottom: 60px;
}
.acti button {
  width: 80px;
  border: none;
  background-color: #14C1EA;
  border-radius: 15px;
  color: #fff;
  position: relative;
  left: 70px;
  top: 55px;
}
/* Añadir Nuevo Rapida */


/* CSS de los Modales y sus Animaciones */
.modal .modal-title{
    width: 100%;
    text-align: center;
    color: var(--color-bc);
    display: flex;
    column-gap: 10px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.modal-loading{
    z-index: 893748;
}
.modal-susc .modal-dialog, .modal-loading .modal-dialog{
    display: flex;
    justify-content: center;
}
.modal-susc .modal-content{
    width: 320px;
}
.modal-susc .modal-title, .modal-loading .modal-title{
    width: 100%;
    text-align: center;
    color: #1285B6;
}
.modal-susc .modal-footer{
    border: 0px solid;
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.modal-susc .confirmacion p{
    color: #46b8da;
    font-size: 15px;
    text-align: center;
}
.modal-susc .modal-footer button{
    background: #f26821;
    color: white;
    border: none;
}
.modal-loading .modal-header{
    padding-left: 5px;
    padding-right: 5px;
}
.modal-loading .modal-title{
    font-size: 20px;
    color: var(--color-bc);
    font-weight: bold;
}
.modal-loading .modal-content{
    width: 375px;
}
.modal-loading .modal-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;;
}
.text-spiner p{
    color: var(--color-bc);
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: var(--color-bc);
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
/* CSS de los Modales y sus Animaciones */


/* CSS del calendario del Modal de Agendar */
#modal-agen{
  margin-top: 60px;
}
#modal-agen .modal-body{
  overflow-y: hidden; 
  overflow-x: hidden; 
  height: 560px;
  position: relative;
  top: 30px;
}
#calendar {
  width: 300px;
  font-family: Poppins;
  position: relative;
  left: 245px;
  border: 2px solid #c6c6c6;
}
#calendar table {
  width: 100%;
  border-collapse: collapse;
}
#calendar th, #calendar td {
  border: 1px solid #fff;
  text-align: center;
  background-color: var(--color-bc2);
  color: #fff;
}
#calendar th {
  background-color: #fff;
  color: var(--bc-etb);
}
#calendar td {
  cursor: pointer;
}
#calendar tr {
  width: 20px;
}
#calendar .today {
  background-color: rgb(34, 170, 0);
  color: #000;
}
#calendar .tomorrow {
  background-color: rgb(34, 170, 0);
  color: #000;
}
#calendar .totomorrow {
  background-color: rgb(34, 170, 0);
  color: #000;
}
#calendar .threemorrow {
  background-color: rgb(34, 170, 0);
  color: #000;
}
#calendar .fourmorrow {
  background-color: rgb(34, 170, 0);
  color: #000;
}
#calendar p{
  color: #FF5E00;
  position: relative;
  left: 70px;
  font-size: 15px;
  font-weight: 600;
}
.data{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 40px;
  width: 90%;
  left: 45px;
}
.data p{
    color: var(--orange-etb);
    font-size: 18px; 
}
.data #cl, #fe, #ca{
  border: 2px solid var(--orange-etb); 
  border-radius: 10px;
} 
.data #cl{
  width: 180px;
  position: relative;
  left: 4px;
}
.data #fe{
  width: 220px;
  position: relative;
  left: 4px;
}
.data #ca{
  width: 115px;
  position: relative;
  left: 4px;
}
.ex {
  position: relative; 
  left: 430px; 
  bottom: 5px;
}
.ex button{
  width: 100px; 
  background-color: transparent; 
  position: relative; 
  border: 1px solid rgba(22, 21, 19, 0.5);
  color: var(--bc-etb); 
  top: 80px;
}
.ex #pdf{
  right: 385px;
}
.ex #exe{
  right: 390px;
}
.ta{
  position: relative;
  left: 45px;
  top: 80px;
  width: 87.5%;
}
/* CSS del calendario del Modal de Agendar */